<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/gasstationdb</property>
        <property name="connection.username">gasstation</property>
        <property name="connection.password">testpassword</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.default_schema">gasstationdb</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <property name="show_sql">true</property>

        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">create-drop</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>
        <property name="current_session_context_class">thread</property>

        <!-- Mapping files will go here.... -->

        <mapping class="com.andreyzholudev.gasstation.dataaccess.entities.PurchaseEntity" />
        <mapping class="com.andreyzholudev.gasstation.dataaccess.entities.AddressEntity" />
        <mapping class="com.andreyzholudev.gasstation.dataaccess.entities.BranchEntity" />
        <mapping class="com.andreyzholudev.gasstation.dataaccess.entities.CashierEntity" />

    </session-factory>
</hibernate-configuration>